.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6.813rem;
  padding-top: 0.875rem;
}

.title {
  font-weight: bold;
  font-size: 1.75rem;
  margin: 0;
  letter-spacing: 0.32em;
  color: #fffaff;
}
