.container {
  min-height: 12.5rem;
  width: 100%;
  background-image: url('/assets/images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6.813rem;
  padding-top: 0.875rem;
  margin: 0 1.5rem;
}

.title {
  font-weight: bold;
  font-size: 1.75rem;
  margin: 0;
  letter-spacing: 0.32em;
  color: #fffaff;
}
