.todoItem {
  display: flex;
  align-items: center;
  /* justify-content: left; */

  font-size: 0.75rem;

  letter-spacing: -0.015em;
  font-family: 'Josefin Sans', sans-serif;
  padding: 1rem 1.25rem;
}

.todoItem + .todoItem {
  border-top: 1px solid var(--very-light-grayish-blue);
}

.text {
  flex: 1;
  margin-left: 0.7rem;
}
.completed .text {
  color: var(--light-grayish-blue);
  text-decoration: line-through;
}

.delete {
  justify-self: end;
  cursor: pointer;
  transition: filter 200ms ease;
}

.delete:hover {
  filter: brightness(0.09);
}
