.todoItem {
  display: flex;
  align-items: center;
  height: 3rem;

  font-size: 0.75rem;
  letter-spacing: -0.015em;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0 1.25rem;
}

.todoItem + .todoItem {
  border-top: 1px solid var(--very-light-grayish-blue);
}

.text {
  flex: 1;
  margin-left: 0.7rem;

  transition: color 150ms ease;
}
.completed .text {
  color: var(--light-grayish-blue);
  text-decoration: line-through;
}

.delete {
  justify-self: end;
  cursor: pointer;
  transition: filter 200ms ease;
}

.delete svg {
  width: 12px;
  height: 12px;
}

.delete:hover {
  filter: brightness(0.09);
}

/* * Desktop style */
@media (min-width: 600px) {
  .todoItem {
    height: 4rem;

    font-size: 1.188rem;
    letter-spacing: -0.04em;
  }

  .text {
    margin-left: 1.5rem;
  }
}
