.button {
  position: relative;
  width: 20px;
  height: 20px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

/* * Desktop style */
@media (min-width: 600px) {
  .button {
    width: 24px;
    height: 24px;
  }
}
