.container {
  border-top: 1px solid var(--border-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.75rem;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--dark-grayish-blue);

  padding: 1.188rem 1.25rem;
}

.clear {
  cursor: pointer;
  transition: filter 200ms ease;
  font-family: 'Josefin Sans', sans-serif;
  background: transparent;
  border: none;
  color: var(--dark-grayish-blue);
}

.clear:hover {
  filter: brightness(0.9);
}
